
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: var(--secondary-color);
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    
    h2 {
        color: var(--accent-color);
    }
    
    ul {
        list-style: none;
        overflow-y: auto;
        min-height: 75dvh;
        scrollbar-width: none;
    }
    
}

.cart__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
    
    .close__cart--btn {
        margin: 1rem;
        padding: .5rem;
        border-radius: 50%;
        border: none;
        align-self: end;
        background-color: var(--accent-color);
        color: var(--text-color-white);
        font-size: 18px;
    }
    
}

.clearCartBtn {
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: var(--text-color-white); 
    border: none;
    border-radius: 5px;
    margin: 2rem;
}