
header {
    background-color: var(--background-color-dark);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    div {
        display: flex;
        margin-left: 1rem;

        .platzi {
            color: var(--primary-color);
            font-size: 48px;
        }

        p {
            color: var(--text-color-white);
            font-size: 28px;
            font-weight: 800;
        }
        
    }
    nav{
        margin-right: 1rem;
        display: inline-flex;
        color: var(--text-color-white);
    }

    
}